html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.text {
  font-family: Roboto Mono;
  font-size: 13px;
  color: white;
  position: absolute;
  bottom: 14px;
  text-align: center;
  margin: auto;
  width: 100%;
}
